* text=auto
*.cs text
*.xaml text
*.ps1 text
*.md text
*.csproj text
*.sln text
*.wxs text
*.config text
*.manifest text
*.txt text
*.ico binary
*.png binary
*.jpg binary
*.avif binary
*.exe binary
*.dll binary
*.msi binary
*.wixpdb binary
